#resource-categories-list {
    list-style: none;
    padding: 0;
}

#resource-categories-list > li {
    height: 50px;
    background-color: #f1f1f1;
    width: 100%;
    padding: 10px;
    font-size: 22px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

#resource-categories-list > li:hover {
    background-color: #dddddd;
}

#resource-categories-list > li.selected {
    background-color: #4272b7;
    color: white;
}

.resource-panel-image {
    float: left;
    padding-right: 20px;
}

.resource-panel-title {
    margin-top: 0;
}