<html>
<head>
    <title>AptiBook</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<app>
    <!-- Temporary app loading content -->
    <style type="text/css">
        .loading-container {
            width: 100%;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .loading-container > div, .loading-container > div > h1 {
            width: 100%;
        }
    </style>

    <div class="loading-container">
        <div class="vcenter" style="height: 100vh">
            <h1 style="color: #4272b7;text-align: center">Loading</h1>
        </div>
    </div>
</app>
</body>
</html>
